extends layout.jade

block content
   .panel.panel-default
      .panel-heading
         h1=dest.charAt(0).toUpperCase() + dest.slice(1)
         .info-box
            strong Warning!
            =' '
            | This alert needs your attention, but it's not super important.
      .panel-body
         .table-container
            .settings-editor
               textarea(placeholder="// Config file here\n// example: slider_1_enable true" name='cfg' form='settings_form')=cfg_data
                  
         
         .controll-btns
            .btn-group(role='group' aria-label='...')
               form(action='/dashboard/settings' method='post' id='settings_form')
                  button.btn.btn-success(type='submit') Save
                  button.btn.btn-danger Restore
   
   .panel.panel-default.journal
      .panel-heading
         h1 Journal
      .panel-body
         .journal-container
            table.table.journal-table
               //- tr
                  td 04:20 - 19.06.2053
                     =' '
                     small 3 hours ago
                  td Error: value %% not found, using default insted
               each msg in logs
                  tr
                     td=msg.time
                        =' '
                        small=msg.fromnow
                     td
                        =msg.level
                        =': '
                        =msg.message

            //- .btn-group-sm.journal-control-btns
               a: span.glyphicon.glyphicon-remove-circle
