@import "lib/bootstrap/bootstrap.less";
@import "lib/bootstrap/variables.less";
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300);
@import (inline) "css/fontface.css";

body{
  font-family: 'Roboto Slab', serif;
}

.dashboard{
  // background-color: #fff;
}
.content{
  margin-top: 80px;
  &.dashboard{

  }
}

.dashboard-nav{
  .navbar-header{
    .navbar-brand#dash-logo{
      width: 60px;
      position: relative;
      svg{
        position: absolute;
        top: 6px;
        left:20px;
        // fill: #1A3939;
        fill: @navbar-default-brand-color;
        &:hover{
          fill: @navbar-default-brand-hover-color;
        }
      }

    }
  }
}

.dashboard{
  .panel{
    .panel-heading{
      padding: 10px 0;

      h1{
        padding: 0 15px;
      }

      .info-box{
        padding: 10px 15px;
        background-color: rgba(0, 0, 0, 0.05);
      }
    }

    .panel-body {
      padding: 0 0 15px 0;
      background: repeating-linear-gradient( 
          -45deg,
          #FFF,
          #FFF 10px, 
          #eee 2px, 
          #eee 18px);

      &.posters{
        padding-top: 20px;
        background-image: none;
        background-color: #fff;
        .posters-list{
          .controll-btns{
            margin-bottom: 20px;
          }
          .poster-item{
            padding: 10px 0;
            margin: 4px 0;
            border-bottom: 1px #ddd solid;
            img{
              height: 100px;
            }
            .poster-id{
              font-size: 0.8em;
              color: #ccc;
              float: right;
            }
            &:before, &:after{
              content: " ";
              display: table;
            }
          }
        }

      }

      .table-container {
        background-color: #fff;
        padding: 20px 0;
        margin-bottom: 20px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        .settings-table {
          margin: 0 0 20px 0;
        }

      }
    }
  }
}

.footer{
  ul{
    padding: 0;
    list-style: none;
  }
  a{
    color: @navbar-default-brand-color;
    &:hover{
      color: @navbar-default-brand-hover-color;
    }
  }
    li.active{
      a{
        color: darken(@navbar-default-brand-color,25%);
      }

      &:after{
        content: ' <';
        color: #ccc;
      }
    }
}

// tables
// 

.settings-table{
  margin: 0;
  thead{
    th{
      &:nth-child(1){
        text-align: center;
        width: 50px;
      }
      &:nth-child(2){
        width: 30%;
      }
    }
  }
  tbody{
    tr td{
      &:nth-child(1){
        text-align: center;
      }
    }
  }
}

// row with action buttons
//

.controll-btns{
  border-top : 1px #DADADA solid;
  border-bottom: 1px #DADADA solid;
  background-color: rgba(0,0,0,0.05);

  padding: 0 15px;
  .btn-group{
    border-radius: 0;
    .btn{
      border-top: none;
      border-bottom: none;

      margin-right: 10px;
      &:first-child, &:last-child{
        border-radius: 0;
      }
    }
  }
}

// loggin in journal
// 

.panel.journal{
  .panel-body{
    background-color: #fff;
    background-image: none;
    .journal-control-btns{
      padding: 10px 10px 0 10px;
    }
    table.table.journal-table{
      margin: 0;

       tr {
        border-bottom: 1px #C8C8C8 solid;

        td:first-child{
          text-align: left;
          width: 15%;
          min-width: 170px;
          small{
            display: block;
            color: #909090;
          }
        }
        td:last-child{
          width: 85%;
        }
      }
    }
  }
}

.poster-edit{
  img{
    width: 100%;
  }
  margin: 0 0 20px 0;
  padding: 20px 0;
  border-bottom: 1px #ddd solid;
  background-color: #fff;
}