extends layouts/head

block content
  .cover-wrapper
    slick(infinite="true" slides-to-show="5" class="slick-slider" slides-to-scroll="1" speed="300"
      autoplay="true" variable-width="true" ng-include="'/views/slides1'")




