extends layouts/head

block content
  .content(ng-controller="postersCtrl")
    .cover-wrapper
      slick(infinite="true" init-onload slides-to-show="5" class="slick-slider" slides-to-scroll="1"
        speed="300" autoplay="true" variable-width="true" ng-include="'/partials/postersSlider'" ng-show="true")
    .player-place
    .cover-wrapper-big
      slick(infinite="true" slides-to-show="5" class="slick-slider" slides-to-scroll="1" speed="300"
        autoplay="true" variable-width="true" ng-include="'/posters/0'" ng-show="true")
    .cover-wrapper
      slick(infinite="true" slides-to-show="5" class="slick-slider" slides-to-scroll="1" speed="300"
        autoplay="true" variable-width="true" ng-include="'/posters/0'" ng-show="true")
    .player-place
