body {
  height: 100vh;
  width: 100%;
}

// Column behaviur

.left-column, .right-column, .left-cell, .right-cell {
  width: 50%;

}

.left-column {
  float: left;
}

.right-column {
  float: right;
}

// Background separator

.separator {
  height: 100%;
  width: 100%;
  position: fixed;

  .separator-layer;

  .left-column {
    .border-right;
  }

  .left-column, .right-column {
    height: 100%;
  }
}

// Header layour

.header-wrapper {
  width: 90%;
  margin: 0 auto;
  height: 36%;

  .header-left, .header-right {
    width: 50%;
    height: 100%;
  }
  .header-left {
    float: left;
  }
  .header-right {
    float: right;
  }
}

.header-table{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  table-layout: fixed;
  text-align: center;

  .top-row, .bottom-row {
    height: 15%;
  }

  .bottom-center-row, .top-center-row {
    vertical-align: top;
  }

  .soc-icons {
    .border-left;

    text-align: left;
    padding-left: 1em;
  }

}

.playlist-section {

  width: 100%;
  table-layout: auto;

  #playlist {

    width: 100%;

    .time {
      width: 4em;
      padding-left: 1em;
    }

    .title {
      text-align: left;
    }
  }
}

// Covers

.cover-wrapper {
  height: 35%;
  width: 100%;
  background-color: white;

  .slick-slider {
    height: 100%;
  }

  .slick-list {
    height: 100%;
  }

  .slick-track {
    height: 100%;
  }

  img {
    height: 100%;
  }

}


// Labels

.sponsor-row {

  height: 10%;
  width: 100%;
  position: absolute;
  top: 195%;
  display: table;
  table-layout: fixed;
  text-align: center;
  background-color: white;

  .sponsor-list {
    display: table-cell;
    vertical-align: middle;
  }

  .sponsor-list li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 1em;
  }

  .copyright {
    position: absolute;
    right: 2.5%;
    bottom: 1em;
    padding-right: 0!important;
  }
}