@media (max-width: @breakpoint) {
  body {
    height: 900px;
    font-size: 12px;
  }

  .left-column, .right-column {
    width: 100%;
  }

  .header-left, .header-right, .player-left, .player-right {
    width: 100%!important;
  }
  

  .player {
    top: 70%;
  }
}