div(
  ng-repeat="poster in posters.postersArr | filter: {outerIndex: $parent.slider.outerIndex}"
  my-poster-place
  )
  img(ng-src="{{poster.pictureUrl}}", ng-click="posters.openPost(poster.outerIndex, poster.innerIndex)")
