div(ng-repeat="poster in posters.postersArr | filter: {outerIndex: $parent.slider.outerIndex}"
  posters-ready)
  img(ng-src="{{poster.pictureUrl}}", ng-click="openPost(poster.outerIndex, poster.innerIndex)")
