div
  img(src="http://placekitten.com/g/600/600")
div
  img(src="http://placekitten.com/g/600/400")
div
  img(src="http://placekitten.com/g/500/500")
div
  img(src="http://placekitten.com/g/700/400")
div
  img(src="http://placekitten.com/g/700/400")
div
  img(src="http://placekitten.com/g/700/400")
div
  img(src="http://placekitten.com/g/700/400")