div#cliclable(
  ng-repeat="poster in this.posters.postersArr"
  ng-click="posters.openPost($event, poster.outerIndex, poster.innerIndex, posters.startCoords)"
  my-poster-place
  ng-mousedown="posters.writeCoords($event)"

  )
  a(nf-if="poster.local" ng-href="{{poster.outerUrl}}" target="_blank")
    img(ng-src="{{poster.pictureUrl}}")




