doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //- base(href="/admin/control/")
    title Control Center | Kytone
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/styles/dashboard.css')
    // Optional theme
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='/app/lib.js', type='text/javascript')

    link(href='http://fonts.googleapis.com/css?family=Julius+Sans+One', rel='stylesheet', type='text/css')
  body
    .container
      .col-md-4.col-md-offset-4.top-offset
        form(action='/login', method='post')
          .form-group
            label.control-label Login
            input.form-control(name='username', type='text', placeholder='login')
          .form-group
            label.control-label Password
            input.form-control(name='password', type='password', placeholder='password')
          .form-group
            .btn-group
              button.btn.btn-primary( type='submit') Login
              a.btn.btn-default( href='.') Cancel