extends layout.jade

block content
  .panel.panel-default
    .panel-heading
      h1=dest.charAt(0).toUpperCase() + dest.slice(1)
      .info-box
        strong Warning!
        =' '
        | This alert needs your attention, but it's not super important.
    .panel-body
      .playlist-block
        .playlist-title
          strong Kytone DAY
        button#day-upload.upload-playlist Upload Playlist
        button#day-set.set-playlist Set Playlist
        button#day-scan.scan-folder Scan Folder
        .playlist-window
          table.playlist-tracks(ng-controller="dayCtrl as playlist")
            tr(ng-repeat="track in playlist.tracks")
              td {{track.duration}}
              td {{track.file}}
              td {{track.artist}}
              td {{track.title}}
      .playlist-block
        .playlist-title
          strong Kytone Night
        button#night-upload.upload-playlist Upload Playlist
        button#night-set.set-playlist Set Playlist
        button#night-scan.scan-folder Scan Folder
        .playlist-window
          ul.playlist-tracks
            li.track
              span.time 00:00
              |  track

