.sponsor-row-place
.sponsor-row
  ul.sponsor-list
    if brands
      each val in brands
        li
          img(src=val)
        li.copyright
          img(src="img/copyright.svg")
      li.copyright
        img(src="img/copyright.svg")
