body tr.control-posts.ng-scope td p{
	/*max-height: 40px !important;*/
	height: 40px;
	padding: 0;
	margin: 0;
	text-overflow: clip;
	overflow: hidden;
}

tbody tr.control-posts.ng-scope td img{
	height: 40px ;
}

div.input-group{
	padding:5px 0;
}

.move_updown_buttons:hover{
    color: #bbb;
}

.changeorder{
    cursor: pointer;
}

.changeorder:hover{
    background-color: #d9d9d9;
}


.panel-heading.panel-list{
	width: 100%;
	position: fixed !important;
}

.onair{
    color: #ff6c4e !important;
}